.pageNumbersContainer {
    display: flex;
}

.selectedPageNumber {
    border: 2px solid green;
    padding: 4px;
    margin-right: 10px;
    cursor: pointer;
}

.pageNumber {
    border: 1px solid gray;
    padding: 4px;
    margin-right: 10px;
    cursor: pointer;
}
